 <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container">
            <a class="navbar-brand fs-3" href="{% url 'index' %}">
                <i class="fas fa-home me-2"></i>StayEase
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'property' %}">Properties</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'property' %}">Agency</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'property' %}">Owner</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'region' %}">Region</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Hostels</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                </ul>
                <div class="ms-lg-3 mt-3 mt-lg-0">


                    

                    {% if user.is_authenticated %}
                        <a href="{% url 'logout_user' %}" class="btn btn-outline-primary me-2">Log Out</a>
                        
                    {% else %}
                        <a href="#" class="btn btn-outline-primary me-2">Log In</a>
                        <a href="#" class="btn btn-primary">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>