{% extends 'base.html' %}
{% load static  %}
{% block title %} Property {% endblock title %}

{% block content %}

<h1>This is property</h1>


   



<!-- Featured Properties -->
    <section class="py-5 bg-white">
        <div class="container">
            <div class="text-center mb-5">
                <h2 class="fw-bold">Featured Properties</h2>
                <p class="text-muted">Top-rated accommodations loved by our community</p>
            </div>
            
            <div class="row g-4">

                {% for property in properties %}
                <!-- Property 1 -->
                <div class="col-md-4">
                    <div class="card h-100">
                        <img src="{{ property.main_photo.url }}" class="card-img-top" alt="Apartment">
                        <div class="card-body">
                            <div class="text-warning mb-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="text-muted">(128)</span>
                            </div>
                            <h5 class="card-title"> {{ property.name }}</h5>
                            <p class="text-muted">
                                <i class="fas fa-map-marker-alt"></i>{{ property.city.name }}/{{ property.region.name }}
                            </p>
                            <div class="d-flex flex-wrap gap-3 my-3">
                                {% if property.beds > 0 %}
                                <span><i class="fas fa-bed text-primary"></i> {{ property.beds }} beds</span>
                                {% endif %}

                                <span><i class="fas fa-bath text-primary"></i> 1 bath</span>

                                {% if property.wi_fi %}
                                <span><i class="fas fa-wifi text-secondary"></i> WiFi</span>
                                {% endif %}

                                {% if property.pool %}
                                <span><i class="fas fa-swimming-pool text-primary"></i> Pool</span>
                                {% endif %}

                                <span><i class="fas fa-utensils text-success"></i> Dianing Room </span>


                            </div>
                            <div class="property-price fs-4 my-3">{{ property.rent_amount }} MMK<span class="text-muted fs-6 fw-normal">/ {{ property.rent_type }} </span>
                                
                            <a href="#" class="btn btn-outline-warning text-align-right">Save</a>
                            <a href="#" class="btn btn-outline-success text-align-right">Save</a>
        
                            </div>
                            <a href="{% url 'property_detail' property.id %}" class="btn btn-primary w-100">View Details</a>
                        </div>
                    </div>
                </div>
                {% endfor  %}
             
            </div>
            
            <div class="text-center mt-5">
                <a href="#" class="btn btn-outline-primary">View All Properties</a>
            </div>
        </div>
    </section>

    <a href="{% url 'property_create' %}"  class="btn btn-outline-primary" >Create Property</a>


{% endblock content %}